.DS_Store
.idea
.m2
backend/**/target
backend/data
frontend/node_modules
frontend/dist
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
frontend/tailwind.config.js
frontend/tailwind.config.d.ts
idea-plugin/.gradle
idea-plugin/.gradle-home
idea-plugin/build
logs
arthas
data/
